:root {
 --orange: #fdd8b3;
 --lightblue: #9fdbf6;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--lightblue);
  padding: 0 0px;
}

::selection{
  color: #fff;
  background: #664AFF;
}

.wrapper{
  max-width: 450px;
  margin: 150px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 30px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #FeCC98;
  cursor: pointer;
}

.main-header {
    position: relative;
    padding-top: 100px;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

/* container for the map */
#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* map itself */
#map {
  height: 80vh;
  width: 140vh;
  background-color: #918f9b;
  position: relative; left: 210px;
}

/* styling button*/
.button {
  background-color: #265769;
  border: none;
  color: #9CD6EC;
  text-decoration: none;
  display: inline-end;
  font-size: 16px;
  border-radius: 25px;
  margin-top: -28px;
  margin-bottom: 0px;
  position: relative; left: 1700px;
  position: relative; top: 36px;
}

#events {
  background-color: #4196B5;
  color: #9CD6EC;
  display: inline-block;
  border-radius: 10%;
  position: relative; bottom: 860px;
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  outline-style: dotted;
}

.second-header {
  background-color: #4196B5;
  margin-left: 0px;
  margin-right: 0px;
  height: 90px;
}